.containerPodcaster {
  width: 100;
  min-height: 100vh;
}
.containerDataPodcast {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
}
.pPodcaster {
  color: rgba(0, 0, 255, 0.564);
  font-weight: 800;
  font-size: 18px;
  text-align: left;
}

.containerPodcasterSearch {
  display: flex;
  justify-content: flex-end;
}

.contaierPodcastInfo {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7px;
  cursor: pointer;
}
.contaierPodcastInfo p {
  color: black;
}
h2 {
  color: black;
}
p {
  color: black;
}
